/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", sans-serif;
}
main section{
    max-width: 1100px;
    margin: 70px auto;

}
.section-title{
    font-size: 25px;
    font-weight: 700;

}
p{
    font-size: 14px;
    font-weight: 400;
    color: #727272;
    line-height: 25px;
}
/* header */

 nav ul a{
    text-decoration: none;
    color: #131313;
}
ul li{
    list-style: none;
    font-size: 15px;
    font-weight: 500;
}

header{
    background: rgba(255, 144, 14, 0.1);
   
    /* margin-top: 20px; */
    
}
.color-footer{
    background-color:#FFF4E7 ;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    max-width: 1100px;
    margin: 0 auto;
    /* border: 2px solid; */
    margin-bottom: 50px;
    

}
.nav-links{
    display: flex;
    gap: 30px;
}
.nav-links a:hover{
    color:#FF900E ;
    /* padding-left: 3px; */
    
}

.banner{
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    

}
.banner img{
    max-width: 100%;
    margin-bottom: 40px;
}
.bnr-title{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    /* margin-bottom: 20px; */
    max-width: 400px;
}
.bnr-description{
    max-width: 690px ;
    text-align: center;

    /* margin-bottom:20px ; */
}
.btn-primary{
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);

        font-size: 15px;
    font-weight: 600;


    text-align: center;
    background-color: #FF900E;
    border: none;
    padding:17px 25px;
    border-radius: 8px;
    margin-bottom:10px;
}

/* Responsive Header */
@media screen and (max-width:576px) {
    
    .navbar,.navbar ul{
        flex-direction: column;
        gap: 20px;
        }
        .navbar ul{
            gap: 10px;
        }
        .bnr-description{
            max-width: 90%;
        }
        .banner img{
            max-width: 95%;
        }
        .bnr-title{
            font-size: 35px;
        }
}

/* main */
 
/* Teams and teams content style */
.sec-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}
.team-img{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    
    /* border: 2px solid; */
}
.team-img img{
    max-width: 100%;
}

.team-img-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 45%;
    /* border: 2px solid; */
}
.quick-list{
    color: #727272;
}
.features{
    color: #FF900E;
}
.team-img-des{
    max-width: 90%;
}

/* Responsive Teams Section */

@media screen and (max-width:576px){

    .sec-1{
        flex-direction: column;
        gap: 30px;
    }
    .team-img{
        max-width: 90%;
    }
    
    .team-img-content{
        align-items: center;
        max-width: 100%;
    }
    .team-img-content .team-img-des{
 text-align: center;
    }

}

/* Features you will love */
.sec-2{
    display: flex;
    
    justify-content: space-between;
}

.sec-2-left{
    
    max-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sec-2-left .sec-2-tit{
    margin-top: 25px;
    border-left: 5px solid rgb(255, 144, 14); ;
    line-height: 32px;
    padding-left: 20px;
    
}
.sec-2-box{
    border-radius: 8px;

box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
background: rgb(255, 255, 255);
padding: 20px 22px;
}
.box-head{
    margin-bottom: 12px;
    font-weight: 700;
}
.sec-2-right{
    max-width: 50%;
}
.sec-2-right img{
    width: 105%;
}
#experience-badge{
    width: fit-content;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    padding: 25px 30px;
    margin-left: -65px;
    margin-top: -50px;
}
#year{
    color: #FFFFFF;
    font-size: 35px;
}
#name{
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
}
/* Responsive Feautures you love....  */

@media screen and (max-width:576px){
   .sec-2{
        flex-direction: column-reverse;
        align-items: center;
   }
   .sec-2 img{
    max-width: 100%;
   }
   .sec-2-right{
    max-width: 90%;
   }
   .sec-2-right .sec-2-btn{

    text-align: center;
    margin-left: 65px; 
    margin-top: -20px;
    margin-bottom: 40px;

   }

   .sec-2-left{
    max-width: 90%;
   }

}







/* Some Facts */
.sec-3{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.some-fact-des{
    line-height: 20px;
    margin-bottom: 40px;
    max-width: 500px;
}
.sec-3-cards{
    display: flex;
    /* gap:px; */
    justify-content: space-around;
    /* margin: 0 20px; */
    /* max-width: 1000px; */
    /* margin: 0 auto; */
}
.sec-3-card{
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    border: 1px solid rgb(255, 144, 14); ;
    border-radius: 8px;
    padding:30px 0px;
}
.sec-3-card img{
    width: 33px;
}

/* Responsive Some facts section  */
@media screen and (max-width:576px) {
    .sec-3{
        
        align-items: center;
    }
    .sec-3 .some-fact-des{
        text-align: center;
        max-width: 90%;
    }
    .sec-3-cards {
        display:grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
       
        }
    .sec-3-cards .sec-3-card{
        padding: 25px 0px;
        /* width: 100px; */
    }
}

/* Our Sponsors */

.sec-4{
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* align-items: center; */
}
.sec-4 .sec-4-tit-des{
    display: flex;
    flex-direction: column;
    gap: 20px;
 align-items: center;
}
.sec-4 .sec-4-tit-des .sec-4-tit{
    text-align: center;
}

.sec-4 .sec-4-tit-des .sec-4-des{
    text-align: center;
    max-width: 500px;
}
.sec-4 .sec-4-icons{
    display: flex;
    justify-content: space-between;
}
.sec-4 .sec-4-icons img{
    max-width: 9%;
    filter: grayscale(100%);
}

/* Responsive Our Sponsor */

@media screen and (max-width:576px) {
    .sec-4 .sec-4-icons{
        max-width: 90%;
        margin: 0 auto;
    }
    .sec-4 .sec-4-des{
        max-width: 90%;
    }
}

/* Footer  */
footer{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    background-color:#FFF4E7 ;
    padding: 20px 0;
    margin-bottom: 50px;
}

/* Footer Responsive */
@media screen and (max-width:576px) {

    footer p{
        font-size: small;
        max-width: 80%;
        margin: 0 auto;
    }
    
}


